{% extends "base_generic.html" %}

{% block content %}
<h1>{{ location}}</h1>

<div style="margin-left:20px;margin-top:20px">
    <h2>Instances</h2>

    {% for instance in location.reagentinstance_set.all %}
    <hr>
    <p
        class="{% if instance.status == 'a' %}text-success{% elif instance.status == 'n' %}text-danger{% else %}text-warning{% endif %}">
        {{ instance.get_status_display }}</p>
    {% if instance.status != 'r' %}<p><strong>Register Date:</strong> {{instance.register_date}}</p>{% endif %}
    <p><strong>Name:</strong> {{instance.name}}</p>
    <p><strong>Location:</strong> {{instance.location}}</p>
    <p class="text-muted"><strong>Id:</strong> {{instance.id}}</p>
    {% endfor %}
</div>

{% endblock %}